body, html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
}

.navBar {
  background-color: #fff;
  color: #111;
  padding: 16px;
}

.description {
  display: flex;
}
